.default-admin-main-href{
    @apply text-center text-lg py-1 px-3 bg-white border-4 border-red-900 rounded-3xl mx-2 my-2
}
.default-admin-profile{
    @apply mx-2 my-2 border-red-900 border-4 p-3 rounded-3xl bg-white
}
.white-user-list{
    @apply bg-gray-100 border-gray-400 border-2 mx-4 p-2 hover:bg-gray-200 duration-200
}
.default-admin-page-background{
    @apply bg-gradient-to-b from-pink-200 to-red-200 min-h-screen
}
.defalut-userlist-block{
    @apply mx-1 w-2/12
}
.defalut-user-profile-image{
    @apply border-gray-500 p-1 w-20 rounded-3xl ;
    min-width: 100px;
    min-height: 100px;
    max-height: 100px;
}
.default-user-list-username{
    @apply text-xl
}
.default-user-list-user-name{
    @apply text-gray-500
}
.default-user-list-header{
    @apply text-black
}

.default-assignrole-ban{
    @apply m-2 text-red-900 bg-red-100 border-2 text-lg text-center px-3 py-1 border-red-900 rounded-xl hover:bg-red-200 duration-100
}
.default-assignrole-promote{
    @apply m-2 text-green-900 bg-green-100 border-2 text-lg text-center px-3 py-1 border-green-900 rounded-xl hover:bg-green-200 duration-100
}
.default-assignrole-demote{
    @apply m-2 text-yellow-900 bg-yellow-100 border-2 text-lg text-center px-3 py-1 border-yellow-900 rounded-xl hover:bg-yellow-200 duration-100
}

:disabled{
    @apply m-2 text-gray-900 bg-gray-100 border-2 text-lg text-center px-3 py-1 border-gray-900 rounded-xl hover:bg-gray-200 duration-100
}

.default-assignrole-disabled{
    @apply m-2 text-gray-900 bg-gray-100 border-2 text-lg text-center px-3 py-1 border-gray-900 rounded-xl hover:bg-gray-200 duration-100
}