.colorpick-default{
    @apply w-full h-10 rounded-xl flex justify-center items-center hover:bg-opacity-30

}
.colorpick-black{
    background-color: #fcfcfc ; @apply colorpick-default
}
.colorpick-blue{
    
    background-color: #0039ff ; @apply colorpick-default
   
}
.colorpick-lavender{
    background-color: #713b5e ; @apply colorpick-default
   
}
.colorpick-navy-blue{
    background-color: #000080; @apply colorpick-default
   
}
.colorpick-coral{
    background-color: #ff6666; @apply colorpick-default
   
}
.colorpick-green{  
   background-color: #5aa897; @apply colorpick-default
   
}
.colorpick-pink{
    background-color: #ec5578; @apply colorpick-default
   
}
.colorpick-purple{
    background-color: #999999; @apply colorpick-default
   
}
.colorpick-red{
    background-color: #91091e; @apply colorpick-default
   
}
.colorpick-yellow{
    background-color: #fdfd96; @apply colorpick-default
   
}
.colorpick-gray{
    background-color: #8d847f; @apply colorpick-default
   
}
.colorpick-charcoal{
    background-color: #565b5d
   ; @apply colorpick-default
}.colorpick-sky-blue{
    background-color: #89cff0; @apply colorpick-default
   
}.colorpick-white{
    background-color: #fcfcfc; @apply colorpick-default
   
}
/*Background*/



.colorpick-bg-black{
    background-color: #000000; @apply colorpick-default
   
}
.colorpick-bg-blue{
    background-color: #0039ff; @apply colorpick-default
   
}
.colorpick-bg-lavender{
    background-color: #713b5e; @apply colorpick-default
   
}
.colorpick-bg-navy-blue{
    background-color: #000080; @apply colorpick-default
   
}
.colorpick-bg-coral{
    background-color: #ff6666; @apply colorpick-default
   
}
.colorpick-bg-green{  
    background-color: #5aa897; @apply colorpick-default
   
}
.colorpick-bg-pink{
    background-color: #ec5578; @apply colorpick-default
   
}
.colorpick-bg-purple{
    background-color: #91091e; @apply colorpick-default
    
   
}
.colorpick-bg-red{
    background-color: #91091e; @apply colorpick-default
   
}
.colorpick-bg-yellow{
    background-color: #fdfd96; @apply colorpick-default
   
}
.colorpick-bg-gray{
    background-color: #8d847f; @apply colorpick-default
   
}
.colorpick-bg-charcoal{
    background-color: #565b5d; @apply colorpick-default
   
}
.colorpick-bg-sky-blue{
    background-color: #0039ff; @apply colorpick-default
   
}
.colorpick-bg-white{
    background-color: #fcfcfc; @apply colorpick-default
}