@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-caseCol-white{
    background-color: #fcfcfc
}
.bg-caseCol-black{
    background-color: #000000
}
.bg-caseCol-blue{
    background-color: #0039ff
}
.bg-caseCol-lavender{
    background-color: #713b5e
}
.bg-caseCol-navy-blue{
    background-color: #000080
}
.bg-caseCol-coral{
    background-color: #ff6666
}
.bg-caseCol-green{  
    background-color: #5aa897
}
.bg-caseCol-pink{
    background-color: #ec5578
}
.bg-caseCol-purple{
    background-color: #c67ace
}
.bg-caseCol-red{
    background-color: #91091e
}
.bg-caseCol-yellow{
    background-color: #fdfd96
}
.bg-caseCol-gray{
    background-color: #8d847f
}
.bg-caseCol-charcoal{
    background-color: #565b5d
}.bg-caseCol-sky-blue{
    background-color: #89cff0
}

.input-text{
    @apply w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-gray-800 text-sm focus:outline-none focus:border-gray-400 focus:bg-white
}
.input-sign-in{
    @apply mt-5 tracking-wide font-semibold bg-pink-500 text-gray-100 w-full py-4 rounded-lg hover:bg-pink-700 transition-all duration-300 ease-in-out flex items-center justify-center  focus:outline-none;
}
.input-sign-up{
    @apply mt-5 tracking-wide font-semibold bg-indigo-500 text-white w-full py-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:outline-none;
}
.box-sign-in-completed{
    @apply mt-5 tracking-wide font-semibold bg-green-500 text-gray-50 w-full py-4 rounded-lg hover:bg-green-700 transition-all duration-300 ease-in-out flex items-center text-center justify-center  focus:outline-none;
}

.default-error-box{
    @apply text-red-900 bg-red-100 font-bold border-2 border-red-900 items-center py-2 text-center rounded-lg my-4
}

